extends base

block content

  .login
    img.logo(src='img/logo.svg' alt='Logo')
    form#login-form.login-form(method='POST' action='/login')
      .form-control
        label.label(for='user') Username
        input#user.input(type='text' name='user' placeholder='Username')
      .form-control
        label.label(for='pass') Password
        input#pass.input(type='password' name='pass' placeholder='Password')
      button#submit.btn.btn--block(type='submit') Login