extends base

block content

  .login
    img.logo(src="img/logo.svg" alt="Logo")
    form#login-form.login-form
      .form-control
        label.label(for="username") Username
        input#username.input(type="text" placeholder="Username")
      .form-control
        label.label(for="password") Password
        input#password.input(type="password" placeholder="Password")
      button#submit.btn.btn--block(type="submit") Login